URxvt.font: xft:Terminus (TTF):size=14
URxvt.letterSpace: +1
URxvt.scrollBar: false

URxvt*fading: 30

! special
*.foreground:   #eeeecc
*.background:   #211b1c
*.cursorColor:  #deded6

! black
*.color0:       #33303b
*.color8:       #211b1c

!#4f4b58 for actual black in color 8

! red
*.color1:       #F7155C
*.color9:       #c44444

! green
*.color2:       #7280af
*.color10:      #7280af

! yellow
*.color3:       #95a5c6
*.color11:      #95a5c6

! blue
*.color4:       #8c55af
*.color12:      #8c55af

! magenta
*.color5:       #bf006c
*.color13:      #bf006c

! cyan
*.color6:       #7d2088
*.color14:      #7d2088

! white
*.color7:       #d8d8d8
*.color15:      #f8f8f8


URxvt.perl-ext-common:     resize-font

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up

URxvt.url-launcher:        /lib/firefox/run-mozilla.sh
URxvt.colorUL: #7780a1

! xrdb ~/.Xresources  >>  update terminal
! pacman-key --refresh-keys  >>  refresh keys
! chsh -s $(which zsh)  >>  change shell (replace zsh with shell name for other shell)
! cat /sys/class/backlight/intel_backlight/brightness  >> check current brightness
! cat /sys/class/backlight/intel_backlight/max_brightness  >> check max brightness
! num=0; for i in *; do mv "$i" "$(printf 'bnr%02d' $num).${i#*.}"; ((num++)); done  >> 
!   rename every file in a folder to bnr00, bnr01, bnr02, etc.
! sudo kbd_mode -s  >>  set keyboard input mode to scancode
! yaourt -Syua  >>  update aur packages
