URxvt.font: xft:Terminus (TTF):size=14
URxvt.letterSpace: +1
URxvt.scrollBar: false

URxvt*fading: 30

! special
*.foreground:   #eeeecc
*.background:   #211b1c
*.cursorColor:  #deded6

! black
*.color0:       #33303b
*.color8:       #211b1c

!#4f4b58 for actual black in color 8

! red
*.color1:       #f7155c
*.color9:       #c44444

! green
*.color2:       #7280af
*.color10:      #7280af

! yellow
*.color3:       #95a5c6
*.color11:      #95a5c6

! blue
*.color4:       #8c55af
*.color12:      #8c55af

! magenta
*.color5:       #bf006c
*.color13:      #bf006c

! cyan
*.color6:       #7d2088
*.color14:      #7d2088

! white
*.color7:       #d8d8d8
*.color15:      #f8f8f8


URxvt.perl-ext-common:     default,resize-font,clipboard,keyboard-select

! here, M means alt. These are emacs style shortcuts.
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s:      perl:keyboard-select:search

URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger:  C-plus

URxvt.url-launcher:        /lib/firefox/run-mozilla.sh
URxvt.colorUL: #7780a1
