URxvt.font: xft:Terminus (TTF):size=14
URxvt.letterSpace: +1
URxvt.scrollBar: false

URxvt*fading: 30

! 0-7  = normal colours -> darker
! 8-15 = bright colours -> lighter

! special
*.foreground:   #eeeecc
*.background:   #211b1c
*.cursorColor:  #deded6

! black
*.color0:       #211b1c
*.color8:       #33303b

!#4f4b58 for actual black in color 8

! red
*.color1:       #f7155c
*.color9:       #c44444

! green
*.color2:       #7280af
*.color10:      #7280af

! yellow
*.color3:       #95a5c6
*.color11:      #95a5c6

! blue
*.color4:       #8c55af
*.color12:      #8c55af

! magenta
*.color5:       #bf006c
*.color13:      #bf006c

! cyan
*.color6:       #7d2088
*.color14:      #7d2088

! white
*.color7:       #d8d8d8
*.color15:      #f8f8f8


URxvt.perl-ext-common:     default,resize-font,clipboard,keyboard-select

! here, M means alt. These are emacs style shortcuts.
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s:      perl:keyboard-select:search

Urxvt*iso14755: False
Urxvt*iso14755_52: False
! Urxvt.keysym.C.C: perl:clipboard:copy
! Urxvt.keysym.C.V: perl:clipboard:paste

URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger:  C-plus

URxvt.url-launcher:        /lib/firefox/run-mozilla.sh
URxvt.colorURL: #7780a1

!Xterm escape sequences for micro
URxvt.keysym.Control-Left:         \033[1;5D
URxvt.keysym.Shift-Control-Left:   \033[1;6D
URxvt.keysym.Control-Right:        \033[1;5C
URxvt.keysym.Shift-Control-Right:  \033[1;6C
URxvt.keysym.Control-Up:           \033[1;5A
URxvt.keysym.Shift-Control-Up:     \033[1;6A
URxvt.keysym.Control-Down:         \033[1;5B
URxvt.keysym.Shift-Control-Down:   \033[1;6B
!URxvt.keysym.Home:                 \033OH
!URxvt.keysym.End:                  \033OF
!URxvt.keysym.Shift-Home:           \033[1;2H
!URxvt.keysym.Shift-End:            \033[1;2F

!URxvt*keysym.Home:            \033OH
!URxvt*keysym.End:             \033OF
!URxvt*keysym.S-Home:          \033[1;2H
!URxvt*keysym.S-End:           \033[1;2F
!URxvt*keysym.M-Home:          \033[1;3H
!URxvt*keysym.M-End:           \033[1;3F
!URxvt*keysym.S-M-Home:        \033[1;4H
!URxvt*keysym.S-M-End:         \033[1;4F
!URxvt*keysym.C-Home:          \033[1;5H
!URxvt*keysym.C-End:           \033[1;5F
!URxvt*keysym.S-C-Home:        \033[1;6H
!URxvt*keysym.S-C-End:         \033[1;6F
!URxvt*keysym.M-C-Home:        \033[1;7H
!URxvt*keysym.M-C-End:         \033[1;7F
!URxvt*keysym.S-M-C-Home:      \033[1;8H
!URxvt*keysym.S-M-C-End:       \033[1;8F
