"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDirectoryColumn: true
  "atom-material-ui":
    colors:
      abaseColor: "#8336c9"
    fonts: {}
    tabs:
      compactTabs: true
    ui:
      useAnimations: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "linter-python"
      "linter-gcc"
      "fonts"
      "linter"
    ]
    projectHome: "/home/kyukee/atom-projects"
    reopenProjectMenuCount: 10
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "retro-gruvbox"
    ]
  editor:
    fontFamily: "Terminus-(TTF"
    fontSize: 15
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "46d642ae-a234-458a-9a1f-6b68fc0cea58"
  fonts:
    fontFamily: "Iosevka"
  "git-plus":
    general: {}
  github:
    remoteFetchProtocol: "ssh"
  "goto-definition":
    performanceMode: true
  "ide-java":
    errors:
      incompleteClasspathSeverity: "ignore"
    javaHome: "/usr/lib/jvm/java-8-openjdk"
    virtualMachine: {}
  "java-generator":
    toggles:
      generateMethodComments: false
  latex:
    engine: "lualatex"
    opener: "pdf-view"
  "linter-eslint":
    disabling:
      disableWhenNoEslintConfig: false
    global:
      eslintrcPath: "~/.config/eslint/.eslintrc"
      globalNodePath: "~/.config/eslint"
      useGlobalEslint: true
  "open-terminal-here":
    command: "urxvt"
  "platformio-ide-terminal":
    core:
      shell: "/bin/bash"
  "project-manager":
    alwaysOpenInSameWindow: true
    savePathsRelativeToHome: true
    sortBy: "title"
  "status-bar": {}
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".bibtex.text":
  editor:
    softWrap: true
